<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/jass.css" />
  </head>
  <body>
    <header>
      <a href="/">Back To HOme</a>
      <a href="/login">LOgin Page</a>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>