{{#each posts as |post| }}
<div class="card">
    <a href="/post/{{post.id}}">
        <h1 class="card-header">{{post.title}}</h1>
    </a>
{{!-- ../ this is about scoping becuase it is in an each block this tell handlebars that logged in does not exist within the each block --}}
    {{#if ../logged_in}}
    <div>
    <h3>Created by {{post.user.user}} on {{post.created_on}}</h3>
    </div>
    {{/if}}
    </div>
    {{/each}}